body {
	font-family: Alright Sans,sans-serif;
	font-weight: 400;
	font-size: 1.15em;
	-webkit-font-smoothing: antialiased;
	color: #4c4e4d;
	width: 800;
	margin: 10px auto;

}

h3 {
	font-family: Harriet,serif;
	font-style: italic;
	font-size: 15px;
	margin-top: 7.5px;
	margin-bottom: 15px;

}

h1 {
	font-family: Balto,sans-serif;
	font-weight: 700;
	font-size: 3em;
-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.2;
	margin: 0;
	max-width: 90%;
	padding-bottom: 0;
}